<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    <!-- navbar -->

    {{>navbar}}
    <!-- main-header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                   
                    <div class="col-md-12 col-12 main_header_left align-items: right">
                        <figure class="errImg">
                            <img  src="images/404.png" alt="Owner" >
                             <a href="/"><button>Go Back</button></a>
                        </figure>
                 
                            
                           
                    </div>
                     <!-- right_side row -->
                    
                </div>
            </div>
        </div>
    </div>
<!-- footer side -->
<footer>
<p>Developed by Soumitra Bag</p>
</footer>
</body>

</html>