<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    <!-- navbar -->

    {{>navbar}}
    <!-- main-header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left_side row -->
                    <div class="col-md-6 col-12 main_header_right align-items:center">
                        <figure>
                            <img src="images/about.png" alt="Owner"  class="img-fluid" >
                        </figure>
                   </div>
                    <div class="col-md-6 col-12 main_header_left">
                            <p><span class="text-color">Welcome to  World-Weather app</span> </p>
                            <h1>I'm a<span class="text-clr"> Mean Stack Developer</span> & <span class="text-clr"> Php Developer</span></h1>
                            <a href="https://www.facebook.com/S.mitra.Bag"><button>Touch Me</button></a>
                    </div>
                     <!-- right_side row -->
                    
                </div>
            </div>
        </div>
    </div>
<!-- footer side -->
<footer>
<p>Developed by Soumitra Bag</p>
</footer>
</body>

</html>